img {
  max-width: 100%;
  vertical-align: top;
}

fieldset {
  border: 1px solid gray;
  border-radius: 5px;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
}
